@{
    ViewBag.Title = "RetornaDados";
    var viewDataCurso = ViewData["curso"] as MvcSegundoExemplo.Models.Curso;
}


<h2>RetornaDados</h2>

Recuperando Informações: 

Nome do Curso: @viewDataCurso.NomeCurso 
<br /> 
Total do semestre: @viewDataCurso.TotalSemestre
<br /> 
Nome do Curso: @viewDataCurso.NomeCurso 
<br /> 
Total do semestre: @viewDataCurso.TotalSemestre
